<html>
	<head>
		<meta http-equiv="refresh" content="2"/>
		<title>Mid Market Price</title>
	</head>
	<body>
		<center>
			<h1>Mid Market Price: {{ vals.mm_price }}</h1>
			<h1>Ticker: {{ vals.ticker.price }}</h1>
		</center>
	</body>
</html>