<html>
	<head>
		<title>Blog</title>
	</head>
	<body>
		<div>
		    <h1><a href="/blog">My Blog</a></h1>
		</div>

		{% for post in posts %}
		    <div>
		        <p>published: {{ post.pub_date }}</p>
		        <h1><a href="">{{ post.title }}</a></h1>
		        <p>{{ post.post_text|linebreaksbr }}</p>
		    </div>
		{% endfor %}
	</body>
</html>